extends layout

block content
  //[if lte IE 8]>
    <html class="ie8 no-js" lang="en">
    //[endif]
  //[if (gte IE 9)|!(IE)]
    <html class="not-ie no-js" lang="en">
    [endif]
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Events
    //<!-- <meta name="robots" content="index,follow">
    meta(name="description" content="Check our mega parties!")
    meta(name="keywords" content="")
    meta(name="author" content="Site Author")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    //### Stylesheets ###
    link(rel="stylesheet" href="css/style.css" media="screen")
    link(rel="stylesheet" href="css/media-queries.css" media="screen")
    //Fancybox styles
    link(rel="stylesheet" href="css/fancybox.min.css" media="screen")
    //Revolution Slider styles
    link(rel="stylesheet" href="js/rs-plugin/css/settings.css" media="screen")
    //Google fonts
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800")
    //### JavaScripts ###
    script(src="js/jquery.min.js")
    //Add HTML5 support for older IE browsers
      <!--[if lt IE 9]>
        <script src="js/html5.min.js"></script>
        <script src="js/selectivizr-and-extra-selectors.min.js"></script>
      endif]
    script(src="js/modernizr.custom.js")
    //sound manager
    script(src="js/soundmanager/soundmanager2-nodebug-jsmin.js")
    script(src="js/soundmanager/jquery.playable.js")
    script(src="js/soundmanager/jquery.playable.ui.simple.js")
    script(src="js/respond.min.js")
    script(src="js/jquery.fitvids.js")
    //Sliders
    //jQuery Nivo slider
    script(src="js/jquery.nivo.slider.pack.js")
    //jQuery Revolution Slider
    script(type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.plugins.min.js")
    script(type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js")
    script(src="js/jquery.countdown.js")
    script(src="js/jquery.easing-1.3.min.js")
    script(src="js/jquery.isotope.min.js")
    script(src="js/jquery.touchSwipe-1.2.5.min.js")
    script(src="js/jquery.sharrre-1.3.2.min.js")
    script(src="//maps.google.com/maps/api/js?sensor=false")
    script(src="js/jquery.gmap.min.js")
    //Fancybox
    script(src="js/jquery.fancybox-1.3.4.pack.js")
    //Custom scripts
    script(src="js/custom.js")
  body(class="page-events")
    //<!--[if lte IE 7]>
      <div id="ie-message"><p>You are using Internet Explorer 7.0 or older to view this site. Your browser is an eight year old browser which does not display modern web sites properly. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
      <![endif]
    //page header
    section(id="page-header")
      div(class="container clearfix")
        hgroup
          h1(class="page-title") Events
          h2(class="page-subtitle") See you at the club.
        //share it
        div(id="share-wrap")
          div(id="share" data-url="events.html" data-text="Events" data-title="share")
        hr
        div(class="header-content text-center")
          span(class="events-count" data-number="23") 23
    section(id="main-content" class="container events")
      h4(class="events-heading") September
        span(class="color") 2012
      //events list
      ul(class="none events-list")
        //event
        li
          a(href="event.html")
            span(class="date") 08/10
            span(class="cover")
              img(src="placeholders/event-small-poster.jpg" alt="")
            span(class="title") Power Bass Festival
              span(class="details") Melbourne, Australia
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 10/11
            span(class="cover")
              img(src="placeholders/event-small-poster.jpg" alt="")
            span(class="title") Made in Glitch!
              span(class="details") London, UK
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 30/11
            span(class="cover")
              img(src="placeholders/event-small-poster.jpg" alt="")
            span(class="title") Sanctuary Outdoor Festival
              span(class="details") Warsaw, Poland
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 02/12
            span(class="cover")
              img(src="placeholders/event-small-poster.jpg" alt="")
            span(class="title") Sunandbass
              span(class="details") Sardinia, Italy
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 11/12
            span(class="cover")
              img(src="placeholders/event-small-poster.jpg" alt="")
            span(class="title") Amsterdam Dance Event
              span(class="details") Amsterdam, Holand
            span(class="plus-button")
      h4(class="events-heading") October
        span(class="color") 2012
      //events list
      ul(class="none events-list")
        //event
        li
          a(href="event.html")
            span(class="date") 02/12
            span(class="title") Sunandbass
              span(class="details") Sardinia, Italy
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 11/12
            span(class="title") Amsterdam Dance Event
              span(class="details") Amsterdam, Holand
            span(class="plus-button")
      h4(class="events-heading") December
        span(class="color") 2012
      //events list
      ul(class="none events-list")
        //event
        li
          a(href="event.html")
            span(class="date") 08/10
            span(class="title") Power Bass Festival
              span(class="details") Melbourne, Australia
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 10/11
            span(class="title") Made in Glitch!
              span(class="details") London, UK
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 30/11
            span(class="title") Sanctuary Outdoor Festival
              span(class="details") Warsaw, Poland
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 02/12
            span(class="title") Sunandbass
              span(class="details") Sardinia, Italy
            span(class="plus-button")
        //event
        li
          a(href="event.html")
            span(class="date") 11/12
            span(class="title") Amsterdam Dance Event
              span(class="details") Amsterdam, Holand
            span(class="plus-button")
    //footer-top
    section(id="footer-top")
      div(class="container clearfix")
        div(class="col-2-3")
          ul(class="contact")
            li(class="address") Melbourne, AU, VIC 3000.
            li(class="phone") (123) 563-9899-234
            li(class="email")
              a(href="mailto:contact@companyname.com") contact@eprom.com
        div(class="col-1-3 last")
          //social icons
          div(class="social-icons")
            a(href="#" class="social-icon twitter")
            a(href="#" class="social-icon facebook")
            a(href="#" class="social-icon lastfm")
            a(href="#" class="social-icon soundcloud")
            a(href="#" class="social-icon myspace")
            a(href="#" class="social-icon youtube")
    //footer
    footer(id="footer" class="clearfix")
      section(class="container clearfix")
        div(class="col-1-2")
          //footer-nav
          nav(id="footer-nav" class="clearfix")
            ul
              li
                a(href="#") Home
              li
                a(href="#") Team
              li
                a(href="#") Releases
              li
                a(href="#") Contact
          div(class="copyright")
            img(src="img/footer-logo.png" alt="")
            span= "Creada por AnHellLycan."
        div(class="col-1-2 last")
          //footer twitter
          div(id="footer-twitter")
            //twitter feed
            //ul(class="tweets")
              li Oops, our Twitter feed is unavailable at the moment -
                a(href="#") Follow us on Twitter!
        //twitter icon
        a(href="#" class="twitter-button")
