extends layout

block content

 head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1' charset="utf-8")
    title DjEfBi
    meta(name="description" content="Premium music theme.")
    meta(name="keywords" content="")
    meta(name="Ng-Web" content="")
    link(rel="shortcut icon" href="img/logofabian.ico" type="image/x-icon")
    // ### Stylesheets ###
    link(rel="stylesheet" href="css/style.css" media="screen")
    link(rel="stylesheet" href="css/media-queries.css" media="screen")
    //Fancybox styles
    link(rel="stylesheet" href="css/fancybox.min.css" media="screen")
    //Revolution Slider styles
    link(rel="stylesheet" href="js/rs-plugin/css/settings.css" media="screen")
    //Google fonts
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800")
    //JavaScripts
    script(src="js/jquery.min.js")
    //<!-- Add HTML5 support for older IE browsers>
    //<!--[if lt IE 9]>
      <script src="js/html5.min.js"></script>
      <script src="js/selectivizr-and-extra-selectors.min.js"></script>
      //<![endif]>
    script(src="js/modernizr.custom.js")
    //sound manager
    script(src="js/soundmanager/soundmanager2-nodebug-jsmin.js")
    script(src="js/soundmanager/jquery.playable.js")
    script(src="js/soundmanager/jquery.playable.ui.simple.js")
    //sound manager
    script(src="js/respond.min.js")
    script(src="js/jquery.fitvids.js")
    //Sliders
    //jQuery Nivo slider
    script(src="js/jquery.nivo.slider.pack.js")
    //jQuery Revolution Slider
    script(type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.plugins.min.js")
    script(type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js")
    //Sliders
    script(src="js/jquery.countdown.js")
    script(src="js/jquery.easing-1.3.min.js")
    script(src="js/jquery.isotope.min.js")
    script(src="js/jquery.touchSwipe-1.2.5.min.js")
    script(src="js/jquery.sharrre-1.3.2.min.js")
    script(src="//maps.google.com/maps/api/js?sensor=false")
    script(src="js/jquery.gmap.min.js")
    //Fancybox
    script(src="js/jquery.fancybox-1.3.4.pack.js")
    //Fancybox
    //custom scripts
    script(src="js/custom.js")
 body(class="page-index")
    //<!-- Add HTML5 support for older IE browsers>
    //<!--[if lt IE 7]>
      <div id="ie-message"><p>You are using Internet Explorer 7.0 or older to view this site. Your browser is an eight year old browser which does not display modern web sites properly. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
      //<!--[endif]>
    div(class="fullwidthbanner-container revolution-slider")
      div(class="fullwidthbanner")
        ul
          li(data-transition="fade" data-slotamount="8")
            img(src="placeholders/revolution-slider/03-bg.jpg")
            div(class="caption lfb" data-x="350" data-y="80" data-speed="2000" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/03-dj.png")
            div(class="caption lfb" data-x="350" data-y="80" data-speed="2000" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/03-dj.png")
            div(class="caption lft very_big_white" data-x="0" data-y="200" data-speed="900" data-start="2200" data-easing="easeOutExpo")
              span(class="color") Dj eF-Bi.
            div(class="caption lfl big_orange" data-x="0" data-y="290" data-speed="600" data-start="1900" data-easing="easeOutExpo")
              span(style="font-weight:normal;") En vivo
              strong(bass music.)
            div(class="caption lfl medium_text" data-x="40" data-y="380" data-speed="400" data-start="2400" data-easing="easeOutExpo") Reggaeton
            div(class="caption lfl medium_text" data-x="40" data-y="410" data-speed="400" data-start="2800" data-easing="easeOutExpo") Bachata
            div(class="caption lfl medium_text" data-x="40" data-y="440" data-speed="400" data-start="3200" data-easing="easeOutExpo") Salsa
            div(class="caption lfl medium_text" data-x="40" data-y="470" data-speed="400" data-start="3600" data-easing="easeOutExpo") Merengue
            div(class="caption lfl medium_text" data-x="40" data-y="500" data-speed="400" data-start="4000" data-easing="easeOutExpo") Y mucho más
          li(data-transition="boxslide" data-slotamount="8")
            img(src="placeholders/revolution-slider/02-bg.jpg")
            div(class="caption lfl" data-x="200" data-y="310" data-speed="900" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/02-vinyl.png")
            div(class="caption lfl" data-x="30" data-y="300" data-speed="900" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/02-cover.png")
            div(class="caption lft very_big_white" data-x="0" data-y="100" data-speed="400" data-start="2000" data-easing="easeOutExpo") Sesiones
              span(class="color") originales.
            div(class="caption lfb big_orange" data-x="0" data-y="190" data-speed="400" data-start="2300" data-easing="easeOutExpo")
              span(style="font-weight:normal;") Dales un vistazo.
          li(data-transition="fade" data-slotamount="10")
            img(src="placeholders/revolution-slider/01-bg.jpg")
            div(class="caption lft" data-x="100" data-y="50" data-speed="500" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/01-envato.png")
            div(class="caption lfl" data-x="400" data-y="80" data-speed="900" data-start="900" data-easing="easeOutExpo")
              img(src="placeholders/revolution-slider/01-dj.png")
            div(class="caption lft very_big_white" data-x="0" data-y="250" data-speed="400" data-start="1700" data-easing="easeOutExpo") Presente.
            div(class="caption lfb big_orange" data-x="0" data-y="340" data-speed="400" data-start="1900" data-easing="easeOutExpo")
              span(style="font-weight:normal;") Con todo
                strong= " El hip hop"
            div(class="caption lfb" data-x="0" data-y="450" data-speed="400" data-start="2000" data-easing="easeOutExpo")
              a(href="#" class="btn large") Sesiones DJota
        div(class="tp-bannertimer")
      //full player
    section(id="full-player-wrap")
      div(class="container")
        //player
        div(id="full-player")
          ul(id="tracklist" class="autostart")
            li
              div(class="track" data-url="placeholders/mp3/adg3com_bustedchump.mp3" data-show-ui="true") ADG3 Studios - Busted Chump
            li
              div(class="track" data-url="placeholders/mp3/adg3com_chuckedknuckles.mp3") ADG3 Studios - Chucked Nuckles
            li
              div(class="track" data-url="placeholders/mp3/adg3com_cloudlessdays.mp3") ADG3 Studios - Cloudlessdays
            li
              div(class="track" data-url="placeholders/mp3/adg3com_coreissues.mp3") ADG3 Studios - Core Issues
            li
              div(class="track" data-url="placeholders/mp3/adg3com_electrofreak.mp3") ADG3 Studios - Electro Freak
          //player navigation
        div(id="fp-nav")
          a(href="#" class="prev")
          a(href="#" class="play")
          a(href="#" class="next")
          a(href="#" class="details")
        div(id="tracklist-nav")
    section(id="main-content" class="container clearfix")
      section(class="content items portfolio recent-works")
        //item
        article(class="col-1-4")
          h2(class="heading-icon deck") Recent
            span(class="color") Releases.
          p= "Mauris lorem metus, tincidunt quis commodo consectetur."
            a(href="#" class="text-button") View All
        //item
        article(class="col-1-4 clearfix")
          a(href="#" class="thumb-slide")
            span(class="thumbs-wrap")
              img(src="placeholders/01A-portfolio-thumb-420x420.jpg" alt="" title="")
              img(src="placeholders/01B-portfolio-thumb-420x420.jpg" alt="" title="")
          footer
            h2
              a(href="#") Strike Back!
            div(class="cat")
              a(href="#") Glitch
              a(href="#") Breakcore
        //item
        article(class="col-1-4")
          a(href="#" class="thumb-slide")
            span(class="badge free")
            span(class="thumbs-wrap")
              img(src="placeholders/02A-portfolio-thumb-420x420.jpg" alt="" title="")
              img(src="placeholders/02B-portfolio-thumb-420x420.jpg" alt="" title="")
          footer
            h2
              a(href="#") Speakerz Massive
            div(class="cat")
              a(href="#") Glitch
        //item
        article(class="col-1-4")
          a(href="#" class="thumb-slide")
            span(class="thumbs-wrap")
              img(src="placeholders/03A-portfolio-thumb-420x420.jpg" alt="" title="")
              img(src="placeholders/03B-portfolio-thumb-420x420.jpg" alt="" title="")
          footer
            h2
              a(href="#") Legacy of Bass
            div(class="cat")
              a(href="#") Glitch
              a(href="#") Dubstep
      div(class="clear")
      //upcoming events
    section(id="upcoming-events")
      section(class="container clearfix")
        //left column
        div(class="col-1-2")
          h3(class="medium-heading")
            span(class="color") Upcoming
            br
            | Events
        //right column
        div(class="col-1-2 last")
          //events list
          ul(class="none events-list")
            //event
            li
              a(href="event.html")
                span(class="date") 08/10
                span(class="title") Power Bass Festival
                  span(class="details") Melbourne, Australia
                span(class="plus-button")
            //event
            li
              a(href="event.html")
                span(class="date") 10/11
                span(class="title") Made in Glitch!
                  span(class="details") London, UK
                span(class="plus-button")
            //event
            li
              a(href="event.html")
                span(class="date") 30/11
                span(class="title") Sanctuary Outdoor Festival
                  span(class="details") Warsaw, Poland
                span(class="plus-button")
            //event
            li
              a(href="event.html")
                span(class="date") 02/12
                span(class="title") Sunandbass
                  span(class="details") Sardinia, Italy
                span(class="plus-button")
            //event
            li
              a(href="event.html")
                span(class="date") 11/12
                span(class="title") Amsterdam Dance Event
                  span(class="details") Amsterdam, Holand
                span(class="plus-button")
      //footer-top
    section(id="footer-top")
        div(class="container clearfix")
          div(class="col-2-3")
            ul(class="contact")
              li(class="address") Melbourne, AU, VIC 3000.
              li(class="phone") (123) 563-9899-234
              li(class="email")
                a(href="mailto:contact@companyname.com") contact@eprom.com
          div(class="col-1-3 last")
            //social icons
            div(class="social-icons")
              a(href="#" class="social-icon twitter")
              a(href="#" class="social-icon facebook")
              a(href="#" class="social-icon lastfm")
              a(href="#" class="social-icon soundcloud")
              a(href="#" class="social-icon myspace")
              a(href="#" class="social-icon youtube")
    //footer
    footer(id="footer" class="clearfix")
      section(class="container clearfix")
        div(class="col-1-2")
          //footer-nav
          nav(id="footer-nav" class="clearfix")
            ul
              li
                a(href="#") Home
              li
                a(href="#") Team
              li
                a(href="#") Releases
              li
                a(href="#") Contact
          div(class="copyright")
            img(src="img/footer-logo.png" alt="")
            span= "Creada por AnHellLycan."
        div(class="col-1-2 last")
          //footer twitter
          div(id="footer-twitter")
            //twitter feed
            //ul(class="tweets")
              li Oops, our Twitter feed is unavailable at the moment -
                a(href="#") Follow us on Twitter!
        //twitter icon
        a(href="#" class="twitter-button")
